.logement-container
  display: flex
  flex-direction: column
  width: 100%

.logement-title
  display: flex
  font-size: 18px
  color: #FF6060
  font-weight: normal
  width: 90%
  margin-left: auto
  margin-right: auto
  margin-bottom: 0
  
  
.logement-location
  display: flex
  font-size: 14px
  font-weight: normal
  width: 90%
  margin-left: auto
  margin-right: auto

.logement-tags
  display: flex
  width: 90% 
  margin-left: auto
  margin-right: auto

.logement-host
  display: flex
  width: 90%
  margin-top: 10px
  margin-left: auto
  margin-right: auto
  align-items: center
  justify-content: space-between

.logement-star
  display: flex
  width: 45%

.logement-owner
  display: flex
  justify-content: right

.owner-name
  display: flex
  font-size: 18px
  font-weight: normal
  margin-right: 20px
  color: #FF6060
  width: 30%  

.owner-picture
    width: 64px
    height: 64px
    border-radius: 50%

.logement-collapse
  display: flex
  flex-direction: column
  width: 90%
  margin-left: auto
  margin-right: auto
  gap: 20px

@media (min-width: 1440px)
  .logement-collapse
    flex-direction: row
    align-items: flex-start
