.logement-container
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

.logement-carousel
  display: flex
  flex-direction: column
  align-items: center
  width: 100%  

.logement-picture
  display: flex
  width: 90%
  height: 300px
  object-fit: cover
  margin-bottom: 10px      

.logement-title
  display: flex
  font-size: 18px
  color: #FF6060
  font-weight: normal

.logement-location
  display: flex
  font-size: 14px
  font-weight: normal

      