header
  display: flex
  flex-direction: row
  width: 90%
  justify-content: space-between
  margin-top: 20px
  margin-left: auto
  margin-right: auto

.logoHeader
  height: 46px

nav
  width: 45%
  display: flex
  flex-direction: row
  
ul
  display: flex
  flex-direction: row
  align-items: center
  width: 100%
  justify-content: space-between


li
  list-style-type: none

  
a
  text-decoration: none
  color: #000

@media (min-width: 1440px)
  nav
    width: 15%
    padding-right: 10px
    font-size: 20px